<h1>Forecast Page</h1>
<div>{{ currentCity }}</div>
<div class="btn-group nested-days-buttons">
    <a href class="btn btn-primary days-button" ng-class="{ 'active': cityServiceMethods.checkDaysShown(3) }" ng-click="cityServiceMethods.setDaysShown(3)">3</a>
    <a href class="btn btn-primary days-button" ng-class="{ 'active': cityServiceMethods.checkDaysShown(5) }" ng-click="cityServiceMethods.setDaysShown(5)">5</a>
    <a href class="btn btn-primary days-button" ng-class="{ 'active': cityServiceMethods.checkDaysShown(7) }" ng-click="cityServiceMethods.setDaysShown(7)">7</a>
</div>

<div>
    <div class="panel panel-default" ng-repeat="dayForecast in forecastResult.list">
        <div class="panel-heading">{{ dayForecast.dt * 1000 | date: "MM/dd/yyyy" : 'UTC' }}</div>
        <div class="panel-body">
            The average tempature for the day is: {{ dayForecast.temp.day }}
        </div>
    </div>
</div>